# Start

In [97]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

import scipy.stats as stats

In [98]:
test_df = pd.read_csv('test.csv')
id = test_df.Id
test_df.drop(inplace=True, axis=1, columns='Id')
df = pd.read_csv('House_Pred_train.csv')
df = df.drop(axis=1, columns='Id')

In [99]:
test_df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,Inside,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [100]:
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [101]:
df.shape

(1460, 80)

In [102]:
for col in df.columns:
    percent = ((df[col].isnull().sum())/len(df))*100
    if percent>0:
        print(f'{col} \t {percent}')

LotFrontage 	 17.73972602739726
Alley 	 93.76712328767123
MasVnrType 	 0.547945205479452
MasVnrArea 	 0.547945205479452
BsmtQual 	 2.5342465753424657
BsmtCond 	 2.5342465753424657
BsmtExposure 	 2.6027397260273974
BsmtFinType1 	 2.5342465753424657
BsmtFinType2 	 2.6027397260273974
Electrical 	 0.0684931506849315
FireplaceQu 	 47.26027397260274
GarageType 	 5.5479452054794525
GarageYrBlt 	 5.5479452054794525
GarageFinish 	 5.5479452054794525
GarageQual 	 5.5479452054794525
GarageCond 	 5.5479452054794525
PoolQC 	 99.52054794520548
Fence 	 80.75342465753424
MiscFeature 	 96.30136986301369

Dropping Columns with Higher Missing Values

In [103]:
drop_cols = ['Alley', 'PoolQC', 'Fence', 'MiscFeature', 'FireplaceQu']
df = df.drop(axis=1, columns=drop_cols)

In [104]:
df.shape

(1460, 75)

In [105]:
for col in test_df.columns:
    percent = ((test_df[col].isnull().sum())/len(test_df))*100
    if percent>50:
        print(f'{col} \t {percent}')

Alley 	 92.66620973269363
FireplaceQu 	 50.03427004797807
PoolQC 	 99.7943797121316
Fence 	 80.12337217272105
MiscFeature 	 96.50445510623715

In [106]:
drop_cols = ['Alley', 'PoolQC', 'Fence', 'MiscFeature', 'FireplaceQu']
test_df = test_df.drop(axis=1, columns=drop_cols)

In [107]:
test_df.shape

(1459, 74)

## NUMERICAL DF AND CATEGORIAL DF

In [108]:
numerical_df = df.select_dtypes(include=np.number)
categorial_df = df.select_dtypes(exclude=np.number)

In [109]:
test_numerical_df = test_df.select_dtypes(include=np.number)
test_categorial_df = test_df.select_dtypes(exclude=np.number)

# FEATURE ENGINNERING

### HNADLING NULL VALUES

#####                          NUMERICAL DF

In [110]:
def handle_numerical_missing(datafram, column):
    missing = datafram.dropna().sample(datafram[column].isnull().values.sum())[column]
    missing.index = datafram[datafram[column].isnull()].index
    datafram.loc[datafram[datafram[col].isnull()].index, column] = missing

In [111]:
for col in ['LotFrontage', 'MasVnrArea', 'GarageYrBlt']:
    handle_numerical_missing(numerical_df, col)

In [112]:
numerical_df.isnull().values.any()

False

In [113]:
for col in ['LotFrontage', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2',
       'BsmtUnfSF', 'TotalBsmtSF', 'BsmtFullBath', 'BsmtHalfBath', 'Fireplaces',
       'GarageYrBlt', 'GarageCars', 'GarageArea']:
    handle_numerical_missing(test_numerical_df, col)

In [114]:
test_numerical_df.isnull().values.any()

False

##### CATEGORICAL DF

In [115]:
def handle_categorical_missing(datafram, column):
    missing = datafram.dropna().sample(datafram[column].isnull().values.sum())[column]
    missing.index = datafram[datafram[column].isnull()].index
    datafram.loc[datafram[datafram[col].isnull()].index, column] = missing

In [116]:
for col in ['MasVnrType', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Electrical', 'GarageType','GarageFinish','GarageQual','GarageCond']:
    handle_categorical_missing(categorial_df, col)

In [117]:
categorial_df.isnull().values.any()

False

In [118]:
for col in ['MSZoning', 'Utilities', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'KitchenQual','Functional', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'SaleType']:
    handle_categorical_missing(test_categorial_df, col)

In [119]:
test_categorial_df.isnull().values.any()

False

## Handling Outliers

In [120]:
def handling_outlier(dataframe, feature):
    median = dataframe[feature].median()
    quantile_1, quantile_3 = np.quantile(dataframe[feature], [0.25,0.75])
    IQR = quantile_3 - quantile_1
    lower_bound = quantile_1 - (1.5*IQR)
    upper_bound = quantile_3 + (1.5*IQR)
    dataframe.loc[dataframe[dataframe[feature]<lower_bound].index, feature] = lower_bound
    dataframe.loc[dataframe[dataframe[feature]>upper_bound].index, feature] = upper_bound

In [121]:
for col in numerical_df[:-1]:
    handling_outlier(numerical_df, col)

In [122]:
numerical_df.drop(columns=['KitchenAbvGr', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal'], axis=1, inplace=True)

In [123]:
test_numerical_df.drop(columns=['KitchenAbvGr', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal'], axis=1, inplace=True)

In [124]:
numerical_df.shape

(1460, 31)

In [125]:
test_numerical_df.shape

(1459, 30)

### Convert categorial into numerical

In [126]:
from sklearn.preprocessing import OrdinalEncoder

column_names = categorial_df.columns

ordinal_encoder = OrdinalEncoder()
categorial_df = ordinal_encoder.fit_transform(categorial_df)
categorial_df = pd.DataFrame(data=categorial_df, columns=column_names)

In [127]:
column_names = test_categorial_df.columns
test_categorial_df = ordinal_encoder.transform(test_categorial_df)
test_categorial_df = pd.DataFrame(data=test_categorial_df, columns=column_names)

In [128]:
categorial_df.head()

,MSZoning,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,...,Electrical,KitchenQual,Functional,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,SaleType,SaleCondition
0,3.0,1.0,3.0,3.0,0.0,4.0,0.0,5.0,2.0,2.0,...,4.0,2.0,6.0,1.0,1.0,4.0,4.0,2.0,8.0,4.0
1,3.0,1.0,3.0,3.0,0.0,2.0,0.0,24.0,1.0,2.0,...,4.0,3.0,6.0,1.0,1.0,4.0,4.0,2.0,8.0,4.0
2,3.0,1.0,0.0,3.0,0.0,4.0,0.0,5.0,2.0,2.0,...,4.0,2.0,6.0,1.0,1.0,4.0,4.0,2.0,8.0,4.0
3,3.0,1.0,0.0,3.0,0.0,0.0,0.0,6.0,2.0,2.0,...,4.0,2.0,6.0,5.0,2.0,4.0,4.0,2.0,8.0,0.0
4,3.0,1.0,0.0,3.0,0.0,2.0,0.0,15.0,2.0,2.0,...,4.0,2.0,6.0,1.0,1.0,4.0,4.0,2.0,8.0,4.0

In [129]:
test_categorial_df.head()

,MSZoning,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,...,Electrical,KitchenQual,Functional,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,SaleType,SaleCondition
0,2.0,1.0,3.0,3.0,0.0,4.0,0.0,12.0,1.0,2.0,...,4.0,3.0,6.0,1.0,2.0,4.0,4.0,2.0,8.0,4.0
1,3.0,1.0,0.0,3.0,0.0,0.0,0.0,12.0,2.0,2.0,...,4.0,2.0,6.0,1.0,2.0,4.0,4.0,2.0,8.0,4.0
2,3.0,1.0,0.0,3.0,0.0,4.0,0.0,8.0,2.0,2.0,...,4.0,3.0,6.0,1.0,0.0,4.0,4.0,2.0,8.0,4.0
3,3.0,1.0,0.0,3.0,0.0,4.0,0.0,8.0,2.0,2.0,...,4.0,2.0,6.0,1.0,0.0,4.0,4.0,2.0,8.0,4.0
4,3.0,1.0,0.0,1.0,0.0,4.0,0.0,22.0,2.0,2.0,...,4.0,2.0,6.0,1.0,1.0,4.0,4.0,2.0,8.0,4.0

In [130]:
final_df = pd.concat([numerical_df, categorial_df], axis=1)
final_df.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,Electrical,KitchenQual,Functional,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,SaleType,SaleCondition
0,60,65.0,8450.0,7,5.0,2003,2003.0,196.0,706.0,0,...,4.0,2.0,6.0,1.0,1.0,4.0,4.0,2.0,8.0,4.0
1,20,80.0,9600.0,6,7.5,1976,1976.0,0.0,978.0,0,...,4.0,3.0,6.0,1.0,1.0,4.0,4.0,2.0,8.0,4.0
2,60,68.0,11250.0,7,5.0,2001,2002.0,162.0,486.0,0,...,4.0,2.0,6.0,1.0,1.0,4.0,4.0,2.0,8.0,4.0
3,70,60.0,9550.0,7,5.0,1915,1970.0,0.0,216.0,0,...,4.0,2.0,6.0,5.0,2.0,4.0,4.0,2.0,8.0,0.0
4,60,84.0,14260.0,8,5.0,2000,2000.0,350.0,655.0,0,...,4.0,2.0,6.0,1.0,1.0,4.0,4.0,2.0,8.0,4.0

In [131]:
test_final_df = pd.concat([test_numerical_df, test_categorial_df], axis=1)
test_final_df.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,Electrical,KitchenQual,Functional,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,SaleType,SaleCondition
0,20,80.0,11622,5,6,1961,1961,0.0,468.0,144.0,...,4.0,3.0,6.0,1.0,2.0,4.0,4.0,2.0,8.0,4.0
1,20,81.0,14267,6,6,1958,1958,108.0,923.0,0.0,...,4.0,2.0,6.0,1.0,2.0,4.0,4.0,2.0,8.0,4.0
2,60,74.0,13830,5,5,1997,1998,0.0,791.0,0.0,...,4.0,3.0,6.0,1.0,0.0,4.0,4.0,2.0,8.0,4.0
3,60,78.0,9978,6,6,1998,1998,20.0,602.0,0.0,...,4.0,2.0,6.0,1.0,0.0,4.0,4.0,2.0,8.0,4.0
4,120,43.0,5005,8,5,1992,1992,0.0,263.0,0.0,...,4.0,2.0,6.0,1.0,1.0,4.0,4.0,2.0,8.0,4.0

# X & Y

In [132]:
X = final_df.drop(axis=1,columns='SalePrice')
y= final_df.SalePrice

# Standard Scaling

In [133]:
from sklearn.preprocessing import StandardScaler

In [134]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [135]:
x_submit = scaler.transform(test_final_df)

# Splitting

In [136]:
from sklearn.model_selection import train_test_split

In [137]:
x_train, x_test, y_train, y_test = train_test_split(X, y, random_state=20, test_size=0.2)

# Model

In [151]:
from sklearn.metrics import r2_score, mean_squared_error
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import RidgeCV, Ridge

In [139]:
xgb = XGBRegressor()
xgb.fit(x_train, y_train)
pred_xgb = xgb.predict(x_test)
print(r2_score(pred_xgb, y_test))
print(mean_squared_error(pred_xgb, y_test))

0.8702791343552791
456859025.173476

In [140]:
rfc = RandomForestRegressor()
rfc.fit(x_train, y_train)
pred_rfc = rfc.predict(x_test)
print(r2_score(pred_rfc, y_test))
print(mean_squared_error(pred_rfc, y_test))

0.8762902005001876
413514070.5246868

In [141]:
ridge = RidgeCV(cv=4)
ridge.fit(x_train, y_train)
pred_ridge = ridge.predict(x_test)
print(r2_score(pred_ridge, y_test))
print(mean_squared_error(pred_ridge, y_test))

0.8865930860005192
410269575.7263428

In [164]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RepeatedKFold

In [165]:
model = Ridge()
cv = RepeatedKFold(n_splits=10, random_state=10, n_repeats=5)

In [166]:
grid = dict()
grid['alpha'] = np.arange(0, 10, 0.01)
search = GridSearchCV(model, grid, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)

In [167]:
search.fit(x_train, y_train)

GridSearchCV(cv=RepeatedKFold(n_repeats=5, n_splits=10, random_state=10),
             estimator=Ridge(), n_jobs=-1,
             param_grid={'alpha': array([0.  , 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ,
       0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21,
       0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32,
       0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43,
       0.44, 0.45,...
       9.35, 9.36, 9.37, 9.38, 9.39, 9.4 , 9.41, 9.42, 9.43, 9.44, 9.45,
       9.46, 9.47, 9.48, 9.49, 9.5 , 9.51, 9.52, 9.53, 9.54, 9.55, 9.56,
       9.57, 9.58, 9.59, 9.6 , 9.61, 9.62, 9.63, 9.64, 9.65, 9.66, 9.67,
       9.68, 9.69, 9.7 , 9.71, 9.72, 9.73, 9.74, 9.75, 9.76, 9.77, 9.78,
       9.79, 9.8 , 9.81, 9.82, 9.83, 9.84, 9.85, 9.86, 9.87, 9.88, 9.89,
       9.9 , 9.91, 9.92, 9.93, 9.94, 9.95, 9.96, 9.97, 9.98, 9.99])},
             scoring='neg_mean_absolute_error')

In [169]:
print('MAE: %.3f' % search.best_score_)
print('Config: %s' % search.best_params_)

MAE: -16125.923
Config: {'alpha': 9.99}

In [172]:
model = Ridge(alpha=9.99)

In [173]:
model.fit(x_train, y_train)
pred_model = ridge.predict(x_test)
print(r2_score(pred_model, y_test))
print(mean_squared_error(pred_model, y_test))

0.8865930860005192
410269575.7263428

In [304]:
model = XGBRegressor(n_estimators=300, gamma=0.01, max_depth=20, learning_rate=0.185, 
                     tree_method='auto') # {'approx', 'auto', 'exact', 'gpu_hist', 'hist'}

In [305]:
model.fit(x_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0.01, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.185, max_delta_step=0,
             max_depth=20, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=300, n_jobs=8,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='auto',
             validate_parameters=1, verbosity=None)

In [306]:
pre = model.predict(x_test)
r2_score(pre, y_test)

0.8955096329582053

In [307]:
prediction = model.predict(x_submit)
prediction = pd.Series(data=prediction)

In [308]:
submit = pd.concat([id, prediction], axis=1)
submit.columns = ['Id', 'SalePrice']

In [309]:
submit.to_csv('submit.csv', index=False)